{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Core delivery platform Node.js Frontend Template."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          Welcome to the Frontend Template, a starter kit for Core Delivery Platform Node.js Frontends 🚀
        </p>
        <p>
          Based on <a href="https://defra.github.io/software-development-standards">DEFRA</a> and <a
            href="https://design-system.service.gov.uk/">GOV.UK</a> best practices this starter kit provides you with
          a deployable, production ready template 🙌🏻 to start your new service with.
        </p>
        <p>This template comes with:</p>
        <ul>
          <li>
            <a href="https://frontend.design-system.service.gov.uk/">GOV.UK Frontend</a>
          </li>
          <li>
            <a href="https://hapi.dev">Hapi.js</a>
          </li>
          <li>
            <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>
          </li>
          <li>
            <a href="https://github.com/mozilla/node-convict">Node Convict</a>
          </li>
          <li>
            <a href="https://jestjs.io/">Jest testing</a>
          </li>
          <li>GitHub Actions Pull Request and Publish jobs</li>
          <li>
            <a href="https://github.com/pinojs/pino">PinoJs logging</a>
          </li>
          <li>
            <a href="https://standardjs.com">Standard JS</a>
          </li>
          <li>
            <a href="https://eslint.org">ESLint</a>
          </li>
          <li>
            <a href="https://stylelint.io">StyleLint</a>
          </li>
          <li>
            <a href="https://prettier.io">Prettier</a>
          </li>
        </ul>
        
        <h2 class="govuk-heading-m">TB Case Management System (TBCMS)</h2>
        <p class="govuk-body">
          The TB Case Management System provides comprehensive tools for managing tuberculosis cases in cattle.
          The system includes modules for case details, animal removals, eartag management, contact tracing,
          abattoir allocations, geographic information systems, disease reporting, compliance monitoring,
          radial testing, post-kill analysis, and data visualization.
        </p>
        
        <h3 class="govuk-heading-s">TB Case Form Modules</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/tbcase/case-details" class="govuk-link">Case Details</a> - Basic case information and management
          </li>
          <li>
            <a href="/tbcase/removals" class="govuk-link">Removals</a> - Reactor animal removal tracking
          </li>
          <li>
            <a href="/tbcase/eartags" class="govuk-link">Eartags</a> - Animal identification and management
          </li>
          <li>
            <a href="/tbcase/tracings" class="govuk-link">Tracings</a> - Contact tracing and investigation
          </li>
          <li>
            <a href="/tbcase/allocations" class="govuk-link">Allocations</a> - Abattoir allocation management
          </li>
          <li>
            <a href="/tbcase/gis" class="govuk-link">GIS</a> - Geographic information and mapping
          </li>
          <li>
            <a href="/tbcase/drfs" class="govuk-link">DRFS</a> - Disease Reporting Forms
          </li>
          <li>
            <a href="/tbcase/cons" class="govuk-link">Cons</a> - Compliance and regulatory monitoring
          </li>
          <li>
            <a href="/tbcase/radial-testing" class="govuk-link">Radial Testing</a> - Surveillance testing management
          </li>
          <li>
            <a href="/tbcase/post-kill" class="govuk-link">Post-Kill</a> - Post-mortem examination tracking
          </li>
          <li>
            <a href="/tbcase/views" class="govuk-link">Views</a> - Data visualization and reporting
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
