{% extends 'layouts/page.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set breadcrumbs = [
  {
    text: "Home",
    href: "/"
  },
  {
    text: "TB Case Form",
    href: "/tbcase"
  },
  {
    text: "Case Details",
    href: "/tbcase/case-details"
  }
] %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{ caption }}</span>
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      
      <!-- Case context summary card -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Case Information</h2>
        </div>
        <div class="govuk-summary-card__content">
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "CPH Number"
                },
                value: {
                  text: "12/345/6789"
                }
              },
              {
                key: {
                  text: "Current Incident"
                },
                value: {
                  text: "TB-2025-12345"
                }
              }
            ]
          }) }}
        </div>
      </div>

      <!-- Service Navigation -->
      {% include "includes/tb-service-navigation.html" %}

      <!-- Main form content -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="#" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Case Details
                </legend>
                
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    {{ govukInput({
                      label: {
                        text: "Keeper Name"
                      },
                      id: "keeper-name",
                      name: "keeper-name"
                    }) }}
                  </div>
                  
                  <div class="govuk-grid-column-one-half">
                    {{ govukInput({
                      label: {
                        text: "Address"
                      },
                      id: "address",
                      name: "address"
                    }) }}
                  </div>
                </div>
                
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    {{ govukInput({
                      label: {
                        text: "Parish"
                      },
                      id: "parish",
                      name: "parish"
                    }) }}
                  </div>
                  
                  <div class="govuk-grid-column-one-half">
                    {{ govukInput({
                      label: {
                        text: "County"
                      },
                      id: "county",
                      name: "county"
                    }) }}
                  </div>
                </div>
                
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    {{ govukInput({
                      label: {
                        text: "Telephone"
                      },
                      id: "telephone",
                      name: "telephone"
                    }) }}
                  </div>
                  
                  <div class="govuk-grid-column-one-half">
                    {{ govukInput({
                      label: {
                        text: "Email"
                      },
                      id: "email",
                      name: "email",
                      type: "email"
                    }) }}
                  </div>
                </div>
                
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    {{ govukDateInput({
                      id: "incident-date",
                      namePrefix: "incident-date",
                      fieldset: {
                        legend: {
                          text: "Incident Date",
                          classes: "govuk-fieldset__legend--s"
                        }
                      },
                      hint: {
                        text: "For example, 27 3 2025"
                      }
                    }) }}
                  </div>
                  
                  <div class="govuk-grid-column-one-half">
                    {{ govukSelect({
                      id: "status",
                      name: "status",
                      label: {
                        text: "Status"
                      },
                      items: [
                        {
                          value: "",
                          text: "Please select"
                        },
                        {
                          value: "active",
                          text: "Active"
                        },
                        {
                          value: "closed",
                          text: "Closed"
                        },
                        {
                          value: "pending",
                          text: "Pending"
                        }
                      ]
                    }) }}
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              {{ govukTextarea({
                name: "comments",
                id: "comments",
                label: {
                  text: "Comments",
                  classes: "govuk-label--m"
                },
                hint: {
                  text: "Maximum 250 characters"
                },
                maxlength: 250,
                rows: 3
              }) }}
            </div>
            
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Actions
                </legend>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    {{ govukSelect({
                      id: "action",
                      name: "action",
                      label: {
                        text: "Action"
                      },
                      items: [
                        {
                          value: "",
                          text: "Please select"
                        },
                        {
                          value: "action-1",
                          text: "Action 1"
                        },
                        {
                          value: "action-2",
                          text: "Action 2"
                        },
                        {
                          value: "action-3",
                          text: "Action 3"
                        }
                      ]
                    }) }}
                  </div>
                  <div class="govuk-grid-column-one-half">
                    {{ govukSelect({
                      id: "letter-type",
                      name: "letter-type",
                      label: {
                        text: "Letter Type"
                      },
                      items: [
                        {
                          value: "",
                          text: "Please select"
                        },
                        {
                          value: "letter-1",
                          text: "Letter Type 1"
                        },
                        {
                          value: "letter-2",
                          text: "Letter Type 2"
                        },
                        {
                          value: "letter-3",
                          text: "Letter Type 3"
                        }
                      ]
                    }) }}
                  </div>
                </div>
                <div class="govuk-button-group">
                  {{ govukButton({
                    text: "Generate Letter",
                    classes: "govuk-button--secondary"
                  }) }}
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Tools</h2>
          <div class="govuk-button-group govuk-button-group--vertical">
            {{ govukButton({
              text: "Delete",
              classes: "govuk-button--warning"
            }) }}
            
            {{ govukButton({
              text: "Edit",
              classes: "govuk-button--secondary"
            }) }}
            
            {{ govukButton({
              text: "Add / Amend",
              classes: "govuk-button--secondary"
            }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
